.header {
	background-color: var(--colorMain);
	color: var(--colorTextContrast);
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
    flex-direction: row;
}

.headerContent {
    display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-between;
    gap: .75rem;
}

.text {
    font-size: 1rem;
}

.logo {
	height: 1.75rem;
	width: 1.75rem;
	object-fit: contain;
}
